.journal__main-content {
  display: flex;
  background-color: $primaryColor;
  main {
    flex: 1;
  }
}

.journal__sidebar {
  background-color: $dark-grey;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 40rem;
}

.journal__sidebar-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size-m;
  margin: 0 $size-m;
  button {
    width: auto;
    padding: $size-xs;
  }
}

.journal__sidebar-navbar h4 {
  font-weight: lighter;
  white-space: nowrap;
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.journal__new-entry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
  margin: $size-m 0;
  i {
    font-size: 8rem;
  }
  &:hover {
    cursor: pointer;
    color: darken($color: $white, $amount: 30);
    transform: scale(1.05);
  }
}

.journal__entries {
  margin-top: $size-m;
  flex: 1;
  overflow-y: auto;
}

.journal__entry {
  background-color: $white;
  border-radius: $size-xs;
  color: $dark-grey;
  display: flex;
  margin-bottom: $size-m;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.journal__entry-picture {
  min-width: 7.8rem;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk94uJ64P52uVxVRRqt5hntKJL8_2_RNNFQA&usqp=CAU");
  background-size: cover;
  background-position: center;
}

.journal__entry-body {
  padding: $size-m;
}

.journal__entry-title {
  font-size: $size-l;
  font-weight: bold;
}

.journal__entry-content {
  font-size: $size-m;
}

.journal__entry-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $size-xs;
}

.journal__entry-date span {
  font-size: $size-sm;
}
