// Colors
$primaryColor: #027281;
$secondaryColor: #00acc1;
$dark-grey: #252525;
$light-grey: #bbbbbb;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
$font-family-sans-serif: "Roboto", sans-serif;

// Sizes
$size-lg: 2.4rem;
$size-l: 2rem;
$size-base: 1.6rem;
$size-m: 1.2rem;
$size-sm: 1rem;
$size-xs: 0.6rem;
$size-xxs: 0.2rem;

//Size icons
$icon-x2: 2rem;
$icon-x3: 4rem;
$icon-x4: 8rem;
